.TodoList {
    width: 100%;
    max-width: 500px;
    height: 400px;
    margin: 30px auto;
    padding-right: 10px;
    overflow: auto;
}

.TodoList::-webkit-scrollbar {
    width: 8px; 
}

.TodoList::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

.TodoList::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

.TodoList::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.TodoList .todo {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.TodoList .todo.active {
    background-color: #e9ffe9; /* Light green for completed todos */
}

.TodoList .todo .text {
    font-size: 18px;
    color: #333;
}

.TodoList .icons {
    display: flex;
    gap: 10px;
}

.TodoList .icons i {
    cursor: pointer;
    font-size: 20px;
    color: #888;
    transition: color 0.3s;
}

.TodoList .icons i.fa-check:hover {
    color: rgb(16, 186, 16);
}

.TodoList .icons i.fa-trash {
    &:hover {
        color: red;
    }
}